
::selection{background-color:#63CEFF;}
#iframe{width:100%;height:92%;border:none;margin-top:0px;}
#bod{background-color:white}

#form{width:98%;height:auto;margin:auto;border:none;border-radius:5px;background-color:white;display:flex;flex-direction:row;align-items:center;justify-content:space-around;box-shadow:0px 0px 5px black;filter:brightness(1)}
.form1{border:none;width:90%;height:98%;}
#head{width:100%;height:55px;border:none;display:flex;flex-direction:row;align-items:center;justify-content:space-between;position:fixed;top:0;left:0;z-index:1;background:radial-gradient(circle,#ff00ff 50%,blue 100%);}
#head1{width:100%;height:50px;border:none}
#headlist{list-style-type:none;font-size:180%;color:black;background-color: none;border-radius:5px;padding:2px 5px;}
#headlist1{list-style-type:none;font-size:180%;color:black;background-color: none;}
#head #menu{width:54px;height:54px;border:none;position:relative;display:flex;flex-direction:row;align-items:center;justify-content:space-around}
#head #html{max-width:95%;height:54px;border:none;display:flex;flex-direction:row;align-items:center;justify-content:space-between;filter:brightness(1)}
#head #menu #menuside{width:70%;height:100%;border:1px solid black;background-color:#ff00ff;position:fixed;display:none;top:0;left:;z-index:2;animation:;}
#account{width:95%;height:35px;border:none;display:flex;flex-direction:row;align-items:center;justify-content:space-between;margin:10px;}
#formaccount{width:35px;height:98%;border:none;position:relative;background-color:white;border-radius:5px}
#formaccountdiv{width:180px;height:auto;border:none;position:absolute;display:none;background-color:white;border-radius:5px;box-shadow:3px 3px 5px black;margin-top:5px;z-index:1}
#formaccount:hover #formaccountdiv{display:block}
.link{text-decoration:none;color:black;display:block;font-size:100%;padding:10px 12px;border:none;border-radius: 5px}
.link:hover{background-color:#A7A8A6}

#bc:active{background-color:#2637FF;color:white}
#listmenu{text-decoration:none;display:block}
#linkbc{color:black;text-decoration:none}
#colormenu{width:54px;height:54px;border:none;position:relative;display:flex;flex-direction:row;align-items:center;justify-content:space-around; position:relative}
#menuhead{width:90%;height:90%;border:2px solid black;background-color:white;margin:auto;border-radius:5px;box-shadow:0px 0px 5px black}
#bc{width:100%;text-decoration:none;height:40px;border:none;display:flex;flex-direction:row;align-items:center;justify-content:space-around;font-weight:700;font-size:110%;position:relative;background-color:white;border-radius:5px}
#bchover{width:180px;height:50px;background:radial-gradient(circle,#ff00ff 50%,blue 100%);margin-top:110px;right:0px;border:1px solid black;border-radius:5px;display:none;position:absolute;flex-direction:row;align-items:center;justify-content:space-around;z-index:1;transition:1s;overflow:hidden;}
#inputcolor{width:33px;height:33px;border-radius:100%;border:2px solid black;overflow:hidden;}
#ok{width:50px;height:32px;display:flex;flex-direction:row;align-items:center;justify-content:space-around;font-size:105%;background-color:none;border-radius:5px;border:2px solid black}
#color{border:none;width:100%;height:100%;transform:scale(10,10)}

@keyframes height1{from{height:0px;}to{height:50px;}}
@keyframes height{from{height:50px}to{height:0px}}
@keyframes side{from{left:0%}to{left:-70%}}
@keyframes side1{from{left:-70%}to{left:0%}}


													/*form*/

#fullname{width:100%;height:170px;border:none;display:flex;flex-direction:row;align-items:column; justify-content:space-between;flex-wrap:wrap}
#fullname #fullname1{width:47%;height:48%;border:none;display:flex;flex-direction:row;align-items:start-over; jutify-content:space-around;flex-wrap:wrap}
#fullname #fullname2{width:47%;height:48%;border:none;display:flex;flex-direction:row;align-items:start-over; jutify-content:space-around;flex-wrap:wrap}
#fullname #fullname3{width:100%;height:48%;border:none;display:flex;flex-direction:row;align-items:start-over; jusify-content:space-around;flex-wrap:wrap;}

#dob{width:100%;height:80px;border:none;display:flex;flex-direction:row;align-items:center;justify-content:space-between;flex-wrap:wrap}
#dob #dob1{height:98%;width:31%;border:none;display:flex;flex-direction:column;align-items:flex-start;justify-content:space-around;flex-wrap:wrap;}
#dob #dob2{height:98%;width:31%;border:none;display:flex;flex-direction:column;align-items:start-over;justify-content:space-around;flex-wrap:wrap;}
#dob #dob3{height:98%;width:31%;border:none;display:flex;flex-direction:column;align-items:flex-start;justify-content:space-around;flex-wrap:wrap;}

#gender{width:100%;height:25px;border:none;display:flex;flex-direction:row;align-items:center;justify-content:space-between;}
#gender #gender1{width:32%;height:100%;border:none;display:flex; flex-direction:row;align-items:start-over;justify-content:flex-start;}
#gender #gender2{width:32%;height:100%;border:none;display:flex; flex-direction:row;align-items:start-over;justify-content:flex-start;}
#gender #gender3{width:32%;height:100%;border:none;display:flex; flex-direction:row;align-items:start-over;justify-content:flex-start;}

#address{width:100%;height:80px;border:none;display:flex;flex-direction:row;align-items:start-over;justify-content:space-between;flex-wrap:wrap}
#streetaddress{width:100%;height:80px;border:none;display:flex;flex-direction:row;align-items:start-over;justify-content:space-between;flex-wrap:wrap;margin-top:10px}
#streetaddress1{width:100%;height:80px;border:none;display:flex;flex-direction:row;align-items:center;justify-content:space-between;flex-wrap:wrap;margin-top:10px}
#streetaddress1 #cityaddress{width:47%;height:100%;border:none;display:flex;flex-direction:row;align-items:start-over;justify-content:space-between;flex-wrap:wrap}
#streetaddress1 #stateaddress{width:47%;height:100%;border:none;display:flex;flex-direction:row;align-items:flex-start;justify-content:space-between;flex-wrap:wrap}
#postaladdress{width:100%;height:80px;border:none;display:flex;flex-direction:row;align-items:start-over;justify-content:space-between;flex-wrap:wrap;margin-top:10px}

.property{width:100%;height:148px;border:none;display:flex;flex-direction:row;align-items:center;justify-content: space-between;flex-wrap:wrap}
.property0{width:100%;height:47px;border:none;display:flex;flex-direction:row;align-items:center;}

#email{width:100%;height:80px;border:none;display:flex;flex-direction:row;align-items:flex-start;justify-content:space-between;flex-wrap:wrap}

#ph{width:100%;height:80px;border:none;display:flex;flex-direction:row;align-items:flex-start;justify-content:space-between;flex-wrap:wrap}

#position{width:100%;height:47px;border:2px solid black;border-radius:3px;background-color:white}
#opinion{width:100%;height:47px;border:2px solid black;border-radius:3px;background-color:white;}
#available{width:100%;height:47px;border:2px solid black;border-radius:3px;background-color:white}
#resume{width:100%;height:47px;border:2px solid black;border-radius:3px;background-color:white}
#coverletter{width:100%;height:150px;border-bottom:2px solid #0007;border-top:none;border-right:none;border-left:none;border-radius:3px}
#coverletter:focus{border:2px solid black}

#final{width:100%;height:47px;border:none;display:flex; flex-direction: row; align-items: center;justify-content:space-between;}
#submit{width:30%;height:100%;border:2px solid black;background-color:#6AFF3D;border-radius:5px;box-shadow:0px 5px 1px black}
#reset{width:30%;height:100%;border:2px solid black;background-color:#6AFF3D;border-radius:5px;box-shadow:0px 5px 1px black;}
#reset:active{box-shadow:0px 0px 0px black;transform:translateY(5px);}
#submit:active{box-shadow:0px 0px 0px black;transform:translateY(5px)}

.li1{color:black}
input[type=radio]{transform:scale(1.2) translate(-5px,-2px)}

.li{font-size:90%;color:#535353}
.p{color:black;font-weight:500;font-size:110%}
input,select,textarea{font-size:17px;color:black;border-bottom:#0007}

											/*form*/
											
#firstpage{width:100%;height:100%;background:linear-gradient(-60deg,white 80%,red 20%);background-attachment:fixed}
#secondpage{width:100%;height:100%;background:linear-gradient(-60deg,white 80%,blue 20%);border:2px solid black}
#thirdpage{width:100%;height:100%;background:linear-gradient(-60deg,white 80%,blue 20%);border: 2px solid black}
#fourthpage{width:100%;height:100%;background:linear-gradient(-60deg,white 80%,blue 20%);border:2px solid black}
#fifthpage{width:100%;height:100%;background:linear-gradient(-60deg,white 80%,blue 20%);border:2px solid black}
											
											

